.mainCont {
    background-image: url('../../images/image01.jpg');
    padding: 40px;
    background-color: rgb(238, 230, 230);
}

.titleText {
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-style: oblique;
    padding: 30px;
}

.titleText02 {
    font-size: xx-large;
    font-family: serif;
    padding: 30px;
}

.para {
    text-align: left;
    text-shadow: 40px;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 80px;
}

.button {
    background-color: black;
    color: white;
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}