.mainDiv {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    background-color: rgb(228, 226, 226);
    width: 98vw;
}

.Title {
    font-family: fantasy;
    font-size: xx-large;
}

.Title:hover {
    color: rgb(192, 7, 7);
}

.NavOptions {
    display: flex;
    flex-direction: row;
    gap: 50px;


}

.NavOption {
    text-decoration: none;
}

.NavOption:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    margin-bottom: 1px;
    color: rgb(44, 133, 66);


}

@media screen and (max-width: 768px) {
    .NavOptions {
        display: flex;
        flex-direction: column;
        gap: 0;
        font-size: small;

    }


}