.mainConatiner {
    /* background-color: rgb(148, 120, 148); */
    background-color: rgb(211, 202, 185);
    padding: 30px;
}

.title {
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.conatiner {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
}

.section01 {
    border: white solid 3px;
    border-radius: 40px;
    font-size: large;
    line-height: 20px;
    margin-bottom: 40px;
    padding: 20px;
    font-family: cursive;
    font-weight: 600;
}

.section02 {
    border: white solid 3px;
    border-radius: 40px;
    font-size: large;
    line-height: 20px;
    padding: 20px;
    margin: 30px 5px 20px;
    font-family: cursive;
    font-weight: 600;
}

.section01:hover {
    background-color: #441a46;
    color: white;
    border: black solid 3px;
}

.section02:hover {
    background-color: #441a46;
    color: white;
    border: black solid 3px;
}